<div class="geral">
  <section class="conjunto">

    <app-header></app-header>

    <div class="corpo">
      <div class="formulario">
        <div class="form-group">
          <div class="titulo">
            <ion-icon class="iconTitulo" name="musical-notes-sharp"></ion-icon>
            Músicas
          </div>
        </div>

        <div class="form-group">
          <div>Está afim de ouvir sua música favorita, ou de pedir uma moda especial?
            Utilize nossa solicitação <i class="fest">music</i> para isso.
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-10">
              <input *ngIf="tipoBusca === 'musica'" type="text" [(ngModel)]="consulta" placeholder="Buscar música"
                class="form-control" (blur)="buscar()">
            </div>

            <div class="col-2">
              <div class="botao-container">
                <button class="botaoModal" (click)="abrirModal()">
                  <ion-icon class="mgRight" name="heart-sharp"></ion-icon>
                  {{listaSelecionada.length}}
                </button>

              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <button (click)="buscar()" class="botaoBuscar"><ion-icon name="search-sharp"></ion-icon> Buscar</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="faixas.length > 0 && tipoBusca === 'musica'">
            <h3>Resultados das Músicas:</h3>
            <div *ngFor="let faixa of faixas">
              <input type="checkbox" (change)="adicionarLista(faixa, $event)">
              {{ faixa.title }} -
              <span *ngIf="faixa['artist-credit'] && faixa['artist-credit'][0].artist">{{
                faixa['artist-credit'][0].artist.name }}</span>
              <span *ngIf="!faixa['artist-credit'] || !faixa['artist-credit'][0].artist">Artista
                desconhecido</span>
            </div>
          </div>
        </div>

        <div class="modal" *ngIf="modalAberto" (click)="fecharModal($event)">
          <div class="modal-overlay" (click)="fecharModal($event)"></div>
          <div class="modal-content" (click)="$event.stopPropagation()">

            <div class="form-group modalHeader">
              <div class="row align-items-center">
                <div class="col-11 d-flex align-items-center">
                  <span>Sua Lista de Pedidos</span>
                </div>
                <div class="col-1 d-flex justify-content-end">
                  <ion-icon (click)="fecharModal()" class="iconFechar" name="close-sharp"></ion-icon>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div *ngFor="let item of listaSelecionada">
                <span *ngIf="item.title">
                  <div class="row row-music">
                    <div class="col-11">
                      <ion-icon class="iconMusic" name="musical-note-sharp"></ion-icon>
                      {{ item.title }} -
                      <span *ngIf="item['artist-credit'] && item['artist-credit'][0].artist">
                        {{ item['artist-credit'][0].artist.name }}
                      </span>
                      <span *ngIf="!item['artist-credit'] || !item['artist-credit'][0].artist">
                        Artista desconhecido
                      </span>
                    </div>
                    <div class="col-1" (click)="removerLista(item)">
                      <ion-icon class="iconMusicRed" name="trash-bin-sharp"></ion-icon>
                    </div>
                  </div>
                </span>
              </div>
            </div>

            <div *ngIf="listaSelecionada.length > 0" class="form-group modalFooter">
              <button (click)="buscar()" class="botaoEnviar">Enviar
                <ion-icon class="iconEnviar" name="send-sharp"></ion-icon>
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>



    <app-footer></app-footer>
  </section>
</div>
